<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<title>Who said that? error page</title>
		<link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="container">
		<h1>Something went wrong!</h1>
		<p>I have placed information vital to the survival of the Rebellion into the memory systems of this R2 unit.</p>
		<p>This is our most desperate hour. Help me, Obi-Wan Kenobi. You're my only hope...</p>
		<p>Click <a class="btn btn-primary" th:href="@{/business}"><span class="glyphicon glyphicon-tasks"></span></a> to return to the business GUI.</p>
	</div>
	</body>
</html>